<div class="container">
  <h2>Upload beat</h2>
  <form class="example-form" [formGroup]="uploadBeat">
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Nombre del beat" type="text" formControlName="nameBeat" value="">
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <input matInput placeholder="BPM" type="number" formControlName="bpm" value="">
    </mat-form-field>
    <div formGroupName="beatTags">
      <mat-form-field class="demo-chip-list example-full-width">
        <mat-chip-list #chipList>
          <mat-chip *ngFor="let beatTag of beatTags" [selectable]="selectable" [removable]="removable" (removed)="remove(beatTag)">
            {{beatTag.name}}
            <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
          </mat-chip>
          <input  placeholder="Tags" [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
            [matChipInputAddOnBlur]="addOnBlur" (matChipInputTokenEnd)="add($event)" />
        </mat-chip-list>
      </mat-form-field>
    </div>
    <button (click)="btnUploadBeat()" type="submit" mat-raised-button color="warn">Save</button>
  </form>
</div>
