<mat-card class="example-card">
  <div class="row align-items-center mb-3">
    <div class="col-8">
      <h6 class="m-0">Albumes de fotos</h6>
    </div>
    <div class="col-4 text-right pr-0">
      <button mat-icon-button>
        <mat-icon aria-label="">
          <i class="material-icons">
            keyboard_arrow_right
          </i>
        </mat-icon>
      </button>
    </div>
  </div>
  <mat-card-content>
    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
    <p>Titulo album</p>
    <small>22</small>
  </mat-card-content>
</mat-card>
