.example-card {
  max-width: 400px;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

.mat-card-image {
  padding: 14px;
}
.example-button-row {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
.mat-card-content{
    position: relative;
}
.mat-card-content p{
    position: absolute;
    bottom: 40px;
    color: white;
    font-weight: 500;
    margin: 0;
}
.mat-card-content small{
    position: absolute;
    right: 0;
    bottom: 40px;
    color: white;
    font-size: 14px;
    font-weight: 500;
}