
.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
  box-shadow: 3px 0 6px rgba(0,0,0,.24);
}
.example-button-row {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.button-row{
  margin-left: auto;
}
