/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

body {
  margin: 0;
}

.container {
  margin: 40px auto;
  max-width: 1340px;
}
.modal-backdrop {
  /* bug fix - no overlay */    
  display: none;    
}